.product {
	width: 350px;
	background-color: aqua;
	margin: 5rem 0;
	padding: 2rem 2rem;
	border-radius: 10px;
}

.product-top {
	text-align: center;
}

.product-top img {
}

.details-product {
	display: flex;
	justify-content: center;
}

.details-product .product {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.details-product .product form {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.details-product .product input {
	width: fit-content;
	cursor: pointer;
}

.product-details-info {
	display: flex;
	justify-content: center;
}

.order-container form {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

.order-container input {
	width: fit-content;
	cursor: pointer;
}
