figure {
	margin: auto;
}

.textover {
	position: relative;
} /* REQUIRED */

.textover img {
	width: 100%;
}

.textover figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
}

.textover figcaption {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: white;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	font-size: 3vw;
}

footer {
	color: aqua;
	height: 50px;
	display: grid;
	place-items: center;
	background-color: blue;
}
