.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: chartreuse;
	box-shadow: var(--shadow);
}
.navbar-links a {
	text-decoration: none;
}
.navbar-links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
}
